<h1 class="page-title center"> Day View </h1>

<% small_array_counter = 0; medium_array_counter = 0; large_array_counter = 0 %>
<% loop_counter = 0 %>

<% while loop_counter < 3 %>

  <% if !@small_tasks[small_array_counter].nil? %>
    <%= @small_tasks[small_array_counter].name + " - " + @small_tasks[small_array_counter].time.to_s %>
    <% small_array_counter += 1 %>
    <% @total_time += @small_tasks[small_array_counter].time %>
    <br />
    <%= @total_time %>
  <% end %>
  <% loop_counter += 1 %>
<% end %>

